[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteForkingEchoService
Exec=/home/jqiao/spk_64bit/spk/objOutput/bskyb-brcm64bit/build_aarch64/dbus-1.8.20/test/test-service org.freedesktop.DBus.TestSuiteForkingEchoService fork
