[D-BUS Service]
Name=org.freedesktop.DBus.TestSuite.PrivServer
Exec=/home/jqiao/spk_64bit/spk/objOutput/bskyb-brcm64bit/build_aarch64/dbus-1.8.20/test/name-test/test-privserver

